---
import LandingHeader from '../components/LandingHeader.astro';
import ModelY from '../components/ModelY.astro';
import HeroSection from '../components/HeroSection.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Coches eléctricos, energía solar y limpia | Tesla">
  <LandingHeader />

  <main
    class="snap-y snap-mandatory relative w-full h-screen overflow-y-auto overflow-x-hidden scroll-smooth scroll-m-0"
  >
    <div class="snap-center">
      <HeroSection />
    </div>

    <div class="snap-center">
      <ModelY />
    </div>
  </main>
</Layout>
